.college-list-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .college-header {
    font-size: 2.6rem;
    text-align: center;
    width: 100%;
    margin: 4rem 0 1rem 0;
    font-weight: 600;
  }

  hr {
    border: 0;
    height: 2px;
    width: 20%;
    position: relative;

    &.center-star {
      background: var(--bg-secondary);
    }

    @include devices(mobile) {
      width: 50%;
    }
  }

  .cards-list-cont {
    width: 90%;

    @include devices(mobile) {
      width: 100%;
    }

    .cards {
      margin-top: 3rem;
      border-radius: 10px;
      background-color: #fff;
      padding: 2rem;
      box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      @include devices(mobile) {
        padding: 1.2rem;
      }

      .cards-first-cont {
        display: flex;
        align-items: flex-start;
        width: 100%;

        @include devices(mobile) {
          flex-direction: column;
        }
        .image-cont {
          width: 40%;
          height: 33rem;
          border-radius: 1rem;
          object-fit: contain;
          box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);

          @include devices(mobile) {
            width: 100%;
          }

          .image {
            height: 100%;
            width: 100%;
          }
        }

        .college-details-cont {
          margin-left: 2rem;
          padding-left: 2rem;
          height: 100%;
          width: 70%;
          position: relative;

          @include devices(mobile) {
            width: 100%;
            border: none !important;
            padding: 0;
            margin-left: 0;
            margin-top: 2rem;
          }

          .college-name-cont {
            display: flex;
            flex-direction: column;
            .college-name {
              font-size: 3rem;
              font-weight: 600;
              width: 80%;

              @include devices(mobile) {
                font-size: 2.2rem;
                width: 100%;
              }
            }
            .college-loc {
              font-size: 1.8rem;
              font-weight: 600;
              color: var(--bg-primary);
            }
            .rating-text {
              font-size: 1.6rem;
              font-family: 'Courier New', Courier, monospace;
              color: var(--bg-success);
              margin-top: 0.5rem;
              margin-left: 0.5rem;
            }
          }

          .college-type-cont {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;

            .college-type {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-top: 2.5rem;
              width: 32.5%;

              @include devices(mobile) {
                width: 50%;
              }

              .icon {
                font-size: 2.6rem;
              }

              .college-type-header {
                font-size: 1.4rem;
              }

              .college-type-name {
                font-size: 1.5rem;
                font-weight: 600;
                margin-left: 3rem;
                width: 80%;
                word-break: break-all;
              }

              .note {
                // position: absolute;
                background-color: var(--white);
                padding: 1rem;
                border-radius: 4rem;
                // left: 25%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.4rem;
                color: var(--text-primary);
                // margin-top: 2rem;
                font-weight: 600;
                // top: 26%;
                box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
                opacity: 0.8;

                @include devices(mobile) {
                  width: 100%;
                  left: 0;
                }
                .note-icon {
                  margin-right: 1rem;
                  color: var(--bg-primary);
                  font-size: 3rem;
                }
              }

              .exam-date {
                background-color: var(--bg-secondary);
                padding: 0.5rem 2rem;
                border-radius: 2rem;
                margin-top: 0.5rem;
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 0 !important;
              }
            }
          }
        }
      }

      .cards-second-cont {
        display: flex;
        width: 100%;
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        position: relative;

        .note {
          position: absolute;
          background-color: var(--white);
          z-index: 999;
          padding: 1rem;
          border-radius: 4rem;
          left: 25%;
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.4rem;
          color: var(--text-primary);
          margin-top: 2rem;
          font-weight: 600;
          top: 26%;
          box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
          opacity: 0.8;

          @include devices(mobile) {
            width: 100%;
            left: 0;
          }
          .note-icon {
            margin-right: 1rem;
            color: var(--bg-primary);
            font-size: 3rem;
          }
        }

        .college-type-header {
          font-size: 2rem;
          font-weight: 600;
          color: var(--bg-primary);
        }

        .img-container {
          display: flex;
          align-items: center;
          // flex-wrap: wrap;
          overflow-x: scroll;

          &::-webkit-scrollbar {
            width: 0.8rem;
            height: 0.8rem;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
          }

          .second-cont-img {
            height: 18rem;
            width: 18rem;
            border-radius: 0.5rem;
            margin: 1.5rem 2.5rem 1.5rem 0;
            background-color: var(--bg-light);
            padding: 0.5rem;
            box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
            cursor: pointer;
            object-fit: cover;

            @include devices(mobile) {
              margin: 1.5rem 1rem 1.5rem 0;
            }
          }
        }
      }
    }

    .text-note {
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--text-primary) !important;
    }
  }

  .admission-open-image {
    height: 11rem;
    position: absolute;
    right: -2rem;
    animation: tilt-shaking 1.5s;
    animation-iteration-count: infinite;
    top: -2rem;
    @include devices(mobile) {
      height: 8rem;
      display: none;
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.confirm-popup-main-cont {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  .confirm-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
    border-radius: 1rem;
    padding: 2rem 2rem;

    @include devices(mobile) {
      width: 90%;
    }
  }

  .text {
    font-size: 2rem;
    font-weight: 600;
  }

  .note {
    // position: absolute;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 4rem;
    // left: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: var(--text-primary);
    // margin-top: 2rem;
    font-weight: 600;
    // top: 26%;
    box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
    opacity: 0.8;

    @include devices(mobile) {
      width: 100%;
      left: 0;
    }
    .note-icon {
      margin-right: 1rem;
      color: var(--bg-primary);
      font-size: 3rem;
    }
  }
}

.confirm-popup-btn-cont {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .auth-btn {
    border-radius: 3rem;
    width: 15rem;
    height: 4.2rem;
    border: 0.2rem solid var(--bg-primary);
    color: var(--bg-primary) !important;
    font-size: 2rem;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    background-color: var(--bg-primary) !important;
    color: var(--white) !important;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .close-btn {
    border-radius: 3rem;
    width: 15rem;
    height: 4.2rem;
    color: var(--bg-primary) !important;
    font-size: 2rem;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    background-color: var(--white) !important;
    border: 0.2rem solid var(--bg-primary);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-right: 2rem;
  }
}

.load-more-btn {
  border-radius: 1rem;
  width: 25rem;
  height: 4rem;
  border: 0.2rem solid var(--bg-primary);
  font-size: 2rem;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  color: var(--bg-primary) !important;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-left: auto;
  margin-top: 8rem;
  margin-right: 5rem;

  &:hover {
    width: 28rem;
    border: 0.2rem solid var(--bg-primary);
    background-color: var(--bg-primary);
    color: var(--white) !important;
  }
}

.pagination-cont {
  margin-top: 4em;
  width: auto;
  display: flex;
  justify-content: center;
  background-color: var(--bg-primay-op);
  border-radius: 10rem;
  box-shadow: 0px 0px 5px 0px rgb(204 204 204);
  padding: 0.5rem 4rem;

  .pagination {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  @include devices(mobile) {
    width: 100%;
  }

  .previous {
    margin-right: 1rem;
    text-decoration: none !important;
  }

  li {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 1rem;
    color: var(--text-primary);

    a {
      text-decoration: none !important;
      color: var(--text-primary);
      font-weight: 500;
    }
  }
  .selected {
    color: var(--bg-primary);
    font-weight: 800;
    background-color: var(--white);
    border-radius: 10rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .next {
    margin-left: 1rem;
  }
}
