.body-light {
  --white: #ffffff;
  --text-primary: #2e2e2e;
  --black: #010101;

  --bg-primary: #c2175b;
  --bg-secondary: #59dcbd;
  --bg-success: #61c688;
  --bg-light: #f5f5f5;
  --bg-primay-op: rgba(89, 220, 189, 0.4);

  --border-light: #f5f5f5;
  --border-dark: #2e2e2e;
}
